/*------------------------------------common styles------------------------------------*/

body {
    background-color: #e8eaed;
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

h1 {
    color: #555555;
}

a {
    color: #3B5998;
    text-decoration: none;
}

a:hover {
    color: #3B5998;
    text-decoration: underline;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

.centerAlign{
    margin:0 auto!important;
}
/*------------------------------------noti part------------------------------------*/


#noti_Container {
    position: relative;
    height: 30px;
    z-index: 1000;
    width: 100%;
}

#nav {
    list-style: none;
    padding: 4px;
    position: fixed;
    background: #3b5998;
    height: 26px;
    width: 100%;
}

#nav li {
    float: left;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

#nav li a {
    color: white;
    text-decoration: none;
}

/*#nav li a:hover {
    color: #006699;
    text-decoration: none;
}
*/
#notification_li {
    position: relative;
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -170px;
    width: 300px;
    z-index: 99;
    display: none;
}

#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 284px;
    border: 1px solid #000;
}

#notificationsBody {
    padding: 8px 0px 0px 0px !important;
    min-height: 297px;
}

#notificationsBody ul{
    height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.noti span{
    color:black!important;
}

#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

#markRead{
    float:right;
}

#friend_li {
    position: relative;
}

#friendContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -170px;
    width: 300px;
    z-index: 99;
    display: none;
}

#friendContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#friendTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 284px;
    border: 1px solid #000;
}

#friendBody {
    padding: 8px 0px 0px 0px !important;
    min-height: 297px;
}

#friendBody ul{
    height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#friendFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
    height:64px;
}

#friendFooter h3{
    padding-bottom: 5px;
}


#friend_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 42px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

#friendBody>ul>li {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

#notificationsBody>ul>li {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

.noti {
    display: block;
    margin-left: 25px;
    overflow: hidden;
    padding: 4px 0;
    width: 250px;
    word-wrap: break-word;
}

.noti img {
    float: left;
    height: 33px;
    margin-right: 7px;
    vertical-align: middle;
    width: 33px;
}
/*------------------------------------cover part------------------------------------*/
#coverContainer{
    margin-left: 260px;
margin-right: 160px;
    position: relative;
    background-image: url("../img/musicCover.jpg");
    background-position:center bottom;
    height: 276px;
}
#cover{
    position: absolute;
top: 60px;
left: 41%;

}
#cover .coverName{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
letter-spacing: 0;
font-size: 30px;
text-decoration: none;
float: left;
margin-top: 101px;
margin-left: -173px;
}
.coverImg{
    float:left;
/*    height:235px;*/
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon1 {
    width: 200px;
    height: 100px;
    }

#cover .coverName a{
    color: #fff!important;
    text-decoration: none;
}

#fanclubCover{
   position: relative;
top: 60px;
margin: 0 210px;

}
#fanclubCover .fanclubCoverName{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
letter-spacing: 0;
font-size: 30px;
text-decoration: none;
float: left;
text-align: center;
width: 100%;
}
#fanclubCover .fanclubCoverName a{
    color: #fff!important;
    text-decoration: none;
}
.fanclubCoverDesc{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
letter-spacing: 0;
font-size: 15px;
text-decoration: none;
float: left;
margin-top: 14px;
width: 100%;
text-align: center;
}
#fanclubCover .fanclubCoverDesc a{
    color: #fff!important;
    text-decoration: none;
}

#headline{
    clear: both;
position: absolute;
width: 100%;
z-index: 4;
height: 43px;
margin-top: 233px;
}
.headlineRight{
    float: right;

}


.headlineRight>a:hover{
    text-decoration: none;
    color: #EF2;
}

.headlineRight:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.headlineRight>a{
    float: left;
font-size: 14px;
font-weight: bold;
height: 43px;
line-height: 3.05;
padding: 0 17px;
position: relative;
vertical-align: middle;
white-space: nowrap;
color: #b0bdad;
cursor: pointer;
text-decoration: none;
}

/*------------------------------------timeline part------------------------------------*/

.delete_button {
    background-image: url("../img/delete.png");
    cursor: pointer;
    display: none;
    float: right;
    font-weight: bold;
    height: 14px;
    width: 14px;
}

.comment_box {
    background-color: #fff;
    border-bottom: #ffffff solid 1px;
    padding-top: 3px;
}

.comment_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.like_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.playlist_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.share_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.like {
    background: url('../img/like.png') no-repeat;
    font-weight: bold;
    height: 14px;
    margin-right: 20px;
    padding-left: 18px;
}

.comment {
    background: url('../img/comment.png') no-repeat;
}

.share_button {
    color: #006699;
    text-decoration: none;
}

.comment_submit {
    background-color: #3b59a4;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    margin-top: 3px;
    padding: 3px;
}

.editStatus {
    background-color: #4e69a2;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    margin-top: 3px;
    padding: 3px;
    margin-left: 52%;
}

.cancelEdit {
    background-color: #4e69a2;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    margin-top: 3px;
    padding: 3px;
    margin-left: 5%;
}

.panel {
    background-color: #fff;
    height: 45px;
    margin-bottom: 5px;
    margin-right: 50px;
    padding: 6px;
    width: 363px;
}

.cmtpic {
    float: left;
    height: 33px;
    margin-right: 5px;
    width: 33px;
}

.load_comment {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}

.flash_load {
    display: none;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 6px;
    width: 400px;
}

.stbody {
    border-bottom: dashed 1px #cc0000;
    margin-bottom: 10px;
    min-height: 70px;
}

.staction {
    border-top: 1px dashed #dedede;
    padding-top: 8px;
}

.stimg {
    border: solid 1px #dedede;
    float: left;
    height: 70px;
    width: 70px;
}

.strmsg {
    margin-top: 17px;
    margin-bottom: 7px;
}

.sttext {
    background-color: #ffffff;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-left: 70px;
    min-height: 50px;
    moz-border-radius: 4px;
    overflow: hidden;
    webkit-border-radius: 4px;
    word-wrap: break-word;
}

.sttext b {
    color: #006699;
    font-size: 17px;
}

.sttime {
    margin: 2px 0px 10px 0px;
}

.timeago {
    color: #999999;
    text-decoration: none;
}

.timeago {
    background: url('../img/timelite.png') right no-repeat;
    font-size: 9px;
    height: 14px;
    margin-right: 20px;
    padding-right: 18px;
    text-transform: uppercase;
}

.noti_like {
    background: url('../img/like.png') left no-repeat !important;
    font-size: 11px;
    height: 14px;
    padding-left: 18px;
}

.noti_comment {
    background: url('../img/comment.png') left no-repeat !important;
    font-size: 11px;
    height: 14px;
    padding-left: 18px;
}

.likeUsers {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    color: #7c7c8e !important;
    margin-top: 10px;
    padding: 10px 10px 0px 0px;
}

#container {
    margin: 0 250px;
    width: 80%;
}

#friendChatContainer {
    margin: 30px 370px;
    width: 900px;
}

#friendChatContainer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#friendChatContainer>ul>li {
    border: 1px solid #e9eaed;
    display: inline-block;
    margin: 0 0 13px 13px;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 320px;
}

#friendChatContainer>ul>li span {
    top: 42px;
    left: 120px;
    width: 190px;
    position: absolute;
}

#friendChatContainer>ul>li a {
    color: #3b5998;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#friendListContainer {
    margin: 30px 10px;
    width: 86%;
}

#friendListContainer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background:#fff;
}

#friendListContainer>ul>li {
    border: 1px solid #e9eaed;
    display: inline-block;
    margin: 0 0 13px 13px;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 431px;
}

#friendListContainer>ul>li span {
    top: 42px;
    width: 190px;
    position: absolute;
}

#friendListContainer>ul>li a {
    color: #3b5998;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#friendListContainer>ul>li button {
    position: relative;
    left: 243px;
    top: 41px;
}

#playlistContainer {
    margin: 30px 10px;
    width: 86%;
}

#playlistContainer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background:#fff;
}

#playlistContainer>ul>li {
    border: 1px solid #e9eaed;
    display: inline-block;
    margin: 0 0 13px 13px;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 431px;
}

#playlistContainer>ul>li span {
    top: 42px;
    width: 190px;
    left: 135px;
    position: absolute;
    font-size: 24px;
}

.playlistSongs{
    margin-top: 120px;
    margin-left: 105px;
}

#view3{
    margin: 0 200px;
    width: 80%;
}

#view2{
    margin: 0 200px;
    width: 80%;
}

.item {
    background-color: #fff;
    border: solid 1px #B4BBCD;
    float: left;
    margin: 20px 10px 10px 10px;
    min-height: 50px;
    position: relative;
    text-align: justify;
    width: 42%;
    word-wrap: break-word;
}

.timeline_container {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 16px;
}

.timeline {
    background-color: #e08989;
    display: block;
    float: left;
    height: 100%;
    left: 473px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    width: 4px;
}

.rightCorner {
    background-image: url("../img/right.png");
    display: block;
    height: 15px;
    margin-left: 453px;
    margin-top: 8px;
    padding: 0;
    position: absolute;
    vertical-align: top;
    width: 13px;
    z-index: 2;
}

.leftCorner {
    background-image: url("../img/left.png");
    display: block;
    height: 15px;
    margin-left: -13px;
    margin-top: 8px;
    position: absolute;
    width: 13px;
    z-index: 2;
}

.deletebox {
    color: #cc0000;
    float: right;
    font-weight: bold;
    margin: 8px 10px 8px 10px;
    position: relative;
    right: 0px;
    text-decoration: none;
    top: 0px;
}

.timeline:hover {
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
}

.timeline div.plus {
    height: 14px;
    left: -6px;
    position: relative;
    width: 14px;
}

.sttext_content2 {
    background-color: #fafcfb;
    line-height: 19px;
    padding: 12px 12px 2px 12px;
}

.sttext_content {
    margin: 12px 12px 0px 12px;
}

.sttext_content a {
    color: #3b5998;
    text-decoration: none;
}

.sttext_content a:hover {
    color: #000000;
    text-decoration: none;
}

.icontext {
    font-weight: bold;
    height: 14px;
    margin-right: 20px;
    padding-left: 18px;
}

.loadplace {
    padding: 5px 0px 5px 0px;
}

/*-----------------------------------------wall about part------------------------------------*/
#aboutContainer{
    background: #fff;
    color: #141823;
    line-height: 1.28;
    padding: 0;
    width: 69%;
    margin: 26px 210px;
    overflow: hidden;
}
#aboutLeft{
    float: left;
   width: 25%;
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    background: #fff;
}
#aboutLeft ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#aboutLeft ul li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    word-wrap: break-word;
}

#aboutLeft ul li a{
    text-decoration: none;
    display: block;
padding: 12px 4px 12px 16px;
color: #3b5998;
cursor: pointer;
}

#aboutLeft ul li a span{
    color: #9197a3;
    font-size: 14px;
line-height: 18px;
cursor: pointer;
}

#aboutRight{
    float: right;
    min-height: 1px;
    display: block;
    list-style-type: none;
    background: #fff;
    width: 75%;
}
.aboutContent{
border-left: 1px solid #ccc;
min-height: 280px;
padding: 2px 24px 0;
position: relative;
width: 558px;
display: block;
margin-bottom: 5px;
}

.aboutTitle{
    border-bottom: 1px solid #dcdee3;
    line-height: 26px;
    color: #9197a3;
    font-weight: bold;
    margin-top: 40px;
    clear:both;
    overflow:hidden;
}
.aboutValue{
    font-size: 16px;
line-height: 20px;
font-weight: bold;
list-style: none;
overflow: hidden;

}
.mainbox
{
margin:5px;
clear:both;
}

.text_wrapper
{
width:187px;
}
.text_wrapper1
{
    float:left;
width:187px;
}

.text_title{
    margin-right: 18px;
width: 180px;
float: left;
min-height: 1px;
color: #9197a3;
font-weight: normal;
font-size: 14px;
line-height: 18px;
}
.edit_link
{
float:right
}
.editbox
{
overflow: hidden; 
height: 61px;
border:solid 1px #0099CC; 
width:190px; 
font-size:12px;
padding:5px
}
.editInput
{
border:solid 1px #0099CC; 
font-size:12px;
}
/*.edit{
    float:left;
}*/
#aboutLeft ul li a:hover{
    opacity: 0.6;
    text-decoration: none;
}
.aboutLeftSelected{
    font-weight: bold;
    color:#000!important;
}

/*------------------------------------popup user info------------------------------------*/

.popup {
    display: none;
    width: 300px;
}

#pop{
    display:none;
}

.popup>img {
    float: left;
    margin-right: 20px;
}

.popup h2 {
    color: #E3E5DD;
    float: right;
    font-size: 14px;
    margin-right: 60px;
}

.popup h2 a {
    color: #E3E5DD!important;
}

/*------------------------------------user chat------------------------------------*/

#update .chatLeft {
    margin-bottom: 12px;
    font-size: 14px;
    position: relative;
    width: 85%;
}

#update .chatRight {
    margin-bottom: 12px;
    font-size: 14px;
}

.morebox {
    font-weight: bold;
    color: #333333;
    text-align: center;
    border: solid 1px #333333;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.morebox a {
    color: #333333;
    text-decoration: none;
}

.morebox a:hover {
    color: #333333;
    text-decoration: none;
}

.chatRight {
    clear: both;
    float: right;
    text-align: right;
}

.chatLeft {
    clear: both;
    float: left;
}

.chatLeft span {
    background-color: #4f6a73;
    /*background-image: -webkit-gradient(linear, center bottom, center top, from(#4f6a73), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #4f6a73, #fff);*/
    position: absolute;
    color:#fff;
    padding: 8px 4px;
}

.chatRight p {
    background-color: #d4d7d7;
    /*background-image: -webkit-gradient(linear, center bottom, center top, from(#c7defe), to(#e7f1fe));
    background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);*/
    color:#000;
    padding: 8px 4px;
}

#inline_content {
    background-color: #a9b3b3!important;

}

#inline_content div {
    clear: both;
}

#content {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    width: 300px;
}
/*------------------------------------user first time------------------------------------*/

#post {
    padding: 4px;
    border: solid 1px #333;
    background-color: #133783;
    color: #fff;
    font-weight: bold;
}

.comment_ui {
    margin-bottom: 5px;
    padding: 6px 4px 3px 0px;
    width: 350px;
}

#searchbox {
    width: 250px;
    border: solid 1px #000;
    padding: 3px;
}
.search input{
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    height: 18px;
    line-height: 18.6px;
    padding-top: 0;
    color: #4e5665;
}

#display {
    width: 250px;
    display: none;
    float: right;
    margin-right: 30px;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    overflow: hidden;
    position:absolute;
}


.display_box {
    padding: 4px;
    border-top: solid 1px #dedede;
    font-size: 12px;
    height: 30px;
    position: relative;
    background:#fff;
}

.display_box:hover {
    background: #3b5998;
    color: #FFF!important;
    text-decoration: none;
}

.display_box a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.display_box button {
    right: 10px;
    position: absolute;
}

#displayUserBox {
    width: 255px;
    display: none;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    overflow: hidden;
}

#displayUserFanclubBox {
    width: 255px;
    display: none;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    overflow: hidden;
    position:absolute;
    z-index: 1200;
}

.searchUserTtile{
    background:#f2f2f2;
}

.searchUserTtile h3{
    text-align: left;
}
.searchUserBox {
    border-top: solid 1px #dedede;
    font-size: 12px;
    height: 40px;
    position: relative;
    background:#fff;
}

.searchUserBox:hover {
    background: #3b5998;
    color: #FFF!important;
    text-decoration: none;
}

.searchUserBox a {
    color: black;
font-size: 17px;
font-weight: bold;
text-decoration: none;
position: absolute;
top: 12px;
}

#shade {
    background-color: #00CCFF;
}

#facebook {
    height: 60px;
    width: 250px;
    overflow: hidden;
    padding: 1px 10px 14px 10px;
    margin:0 auto;
    border-top: 1px solid black;
}

#facebook li {
    border: 0;
    margin: 0;
    list-style: none;
    height: 60px;
    padding: 5px;
    width:147px;
}

#facebook a {
    color: #000000;
    text-decoration: none;
}

#facebook button {
    float:left;
}

#facebook .user-title {
    float:left;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 11px;
    color: #36538D;
}

#facebook img {
    float: left;
    margin-right: 14px;
    padding: 4px;
}

#facebook .del {
    float: right;
    font-weight: bold;
    color: #666666;
}

#facebook .del a {
    color: #000000;
}

#facebook .del a:hover {
    background-color: #36538D;
    padding-left: 1px;
    padding-right: 1px;
    color: #ffffff;
}


div.dropdown {
color: #555;
margin: 3px 0px 0 0;

position: relative;
height: 17px;
text-align:left;
float:right;
display:none;
}
div.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -84px;
z-index: 100;
width: 74px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

/*.stdelete {
    background-image: url("../img/delete.png");
    cursor: pointer;
    display: none;
    float: right;
    font-weight: bold;
    height: 14px;
    margin-right: 5px;
    margin-top: 5px;
    width: 14px;
}*/

.dropdown  li a {
   
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
  cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
}
a.account {

color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 15px;
width: 15px;
margin: 5px 0 0 -22px;
cursor:pointer;
background: url("../img/delete.png") no-repeat;
}
.root
{
list-style:none;
margin:0px;
font-size: 11px;
padding: 1px 0 0 0px;
border-top:1px solid #dedede;
}


#musicBody {
    padding: 8px 0px 0px 0px !important;
}

#musicBody ul{
    list-style: none;
}

#musicContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    z-index: 99;
    display:none;
}

#music_name{
    margin-bottom: 5px;
    margin-top: 5px;
}

#privacyRight{
    margin-left: 300px;
}

#postStatus {
    background-color: #3b59a4;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#privacy{
    height:25px;
    background:transparent;
}

#playlistBox select{
    margin-bottom: 5px;
}

.fanclubContainer{
    position:absolute;
    top:50px;
    left:20px;
    width:220px;
}

.fanclubUserBox {
    border-top: solid 1px #dedede;
font-size: 12px;
height: 20px;
position: relative;
padding: 1px;
}

.fanclubUserBox:hover {
    background: #dddee0;
    text-decoration: none;
}

.fanclubUserBox>a {
    color: black;
font-size: 12px;
font-weight: bold;
text-decoration: none;
position: absolute;
top: 2px;
}

.fanclubTitle{
    color:#b2b3b5;
}

.leaveClub {
color: #555;
position: absolute;
display: none;
height: 15px;
width: 15px;
left: -15px;
cursor: pointer;
background: url("../img/delete.png") no-repeat;
}

#aboutFanclubHeader h6{
    color: #9197a3;
font-size: 11px;
line-height: 12px;
font-weight: bold;
text-transform: uppercase;
}