/*------------------------------------common styles------------------------------------*/

body {
    background-color: #e8eaed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    color: #555555;
}

a {
    color: #d02b55;
    text-decoration: none;
}

a:hover {
    color: #d02b55;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
}

/*------------------------------------noti part------------------------------------*/

#noti_Container {
    margin-left: 73.5%;
    margin-top: 10px;
    position: relative;
    height: 9px;
}

#nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav li {
    float: left;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

#nav li a {
    color: #333333;
    text-decoration: none;
}

#nav li a:hover {
    color: #006699;
    text-decoration: none;
}

#notification_li {
    position: relative;
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -170px;
    width: 300px;
    z-index: 99;
    display: none;
}

#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 284px;
    border: 1px solid #000;
}

#notificationsBody {
    padding: 8px 0px 0px 0px !important;
    min-height: 400px;
}

#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

#friend_li {
    position: relative;
}

#friendContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -170px;
    width: 300px;
    z-index: 99;
    display: none;
}

#friendContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#friendTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 284px;
    border: 1px solid #000;
}

#friendBody {
    padding: 8px 0px 0px 0px !important;
    min-height: 300px;
}

#friendFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#friend_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 42px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

#friendBody>ul>li {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

#notificationsBody>ul>li {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

.noti {
    display: block;
    margin-left: 25px;
    overflow: hidden;
    padding: 4px 0;
    width: 250px;
    word-wrap: break-word;
}

.noti img {
    float: left;
    height: 33px;
    margin-right: 7px;
    vertical-align: middle;
    width: 33px;
}

/*------------------------------------timeline part------------------------------------*/

.delete_button {
    background-image: url("../img/delete.png");
    cursor: pointer;
    display: none;
    float: right;
    font-weight: bold;
    height: 14px;
    width: 14px;
}

.comment_box {
    background-color: #fff;
    border-bottom: #ffffff solid 1px;
    padding-top: 3px;
}

.comment_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.like_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.playlist_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.share_button {
    color: #006699;
    margin-right: 10px;
    text-decoration: none;
}

.like {
    background: url('../img/like.png') no-repeat;
    font-weight: bold;
    height: 14px;
    margin-right: 20px;
    padding-left: 18px;
}

.comment {
    background: url('../img/comment.png') no-repeat;
}

.share_button {
    color: #006699;
    text-decoration: none;
}

.comment_submit {
    background-color: #3b59a4;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    margin-top: 3px;
    padding: 3px;
}

.panel {
    background-color: #fff;
    height: 45px;
    margin-bottom: 5px;
    margin-right: 50px;
    padding: 6px;
    width: 363px;
}

.cmtpic {
    float: left;
    height: 33px;
    margin-right: 5px;
    width: 33px;
}

.load_comment {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}

.flash_load {
    display: none;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 6px;
    width: 400px;
}

.stbody {
    border-bottom: dashed 1px #cc0000;
    margin-bottom: 10px;
    min-height: 70px;
}

.staction {
    border-top: 1px dashed #dedede;
    padding-top: 8px;
}

.stimg {
    border: solid 1px #dedede;
    float: left;
    height: 50px;
    width: 50px;
}

.strmsg {
    margin-top: 17px;
    margin-bottom: 7px;
}

.sttext {
    background-color: #ffffff;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin-left: 70px;
    min-height: 50px;
    moz-border-radius: 4px;
    overflow: hidden;
    webkit-border-radius: 4px;
    word-wrap: break-word;
}

.sttext b {
    color: #006699;
    font-size: 17px;
}

.sttime {
    margin: 2px 0px 10px 0px;
}

.timeago {
    color: #999999;
    text-decoration: none;
}

.timeago {
    background: url('../img/timelite.png') right no-repeat;
    font-size: 9px;
    height: 14px;
    margin-right: 20px;
    padding-right: 18px;
    text-transform: uppercase;
}

.noti_like {
    background: url('../img/like.png') left no-repeat !important;
    font-size: 11px;
    height: 14px;
    padding-left: 18px;
}

.noti_comment {
    background: url('../img/comment.png') left no-repeat !important;
    font-size: 11px;
    height: 14px;
    padding-left: 18px;
}

.likeUsers {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    color: #7c7c8e !important;
    margin-top: 10px;
    padding: 10px 10px 0px 0px;
}

#container {
    margin: 0 200px;
    width: 80%;
}

#friendListContainer {
    margin: 30px 370px;
    width: 900px;
}

#friendListContainer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#friendListContainer>ul>li {
    border: 1px solid #e9eaed;
    display: inline-block;
    margin: 0 0 13px 13px;
    padding: 0 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 320px;
}

#friendListContainer>ul>li span {
    top: 42px;
    left: 120px;
    width: 190px;
    position: absolute;
}

#friendListContainer>ul>li a {
    color: #3b5998;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.item {
    background-color: #fff;
    border: solid 1px #B4BBCD;
    float: left;
    margin: 20px 10px 10px 10px;
    min-height: 50px;
    position: relative;
    text-align: justify;
    width: 42%;
    word-wrap: break-word;
}

.timeline_container {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 16px;
}

.timeline {
    background-color: #e08989;
    display: block;
    float: left;
    height: 100%;
    left: 473px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    width: 4px;
}

.rightCorner {
    background-image: url("../img/right.png");
    display: block;
    height: 15px;
    margin-left: 453px;
    margin-top: 8px;
    padding: 0;
    position: absolute;
    vertical-align: top;
    width: 13px;
    z-index: 2;
}

.leftCorner {
    background-image: url("../img/left.png");
    display: block;
    height: 15px;
    margin-left: -13px;
    margin-top: 8px;
    position: absolute;
    width: 13px;
    z-index: 2;
}

.deletebox {
    color: #cc0000;
    float: right;
    font-weight: bold;
    margin: 8px 10px 8px 10px;
    position: relative;
    right: 0px;
    text-decoration: none;
    top: 0px;
}

.timeline:hover {
    cursor: pointer;
    margin: 0 auto;
}

.timeline div.plus {
    height: 14px;
    left: -6px;
    position: relative;
    width: 14px;
}

.sttext_content2 {
    background-color: #fafcfb;
    line-height: 19px;
    padding: 12px 12px 2px 12px;
}

.sttext_content {
    margin: 12px 12px 0px 12px;
}

.sttext_content a {
    color: #3b5998;
    text-decoration: none;
}

.sttext_content a:hover {
    color: #000000;
    text-decoration: none;
}

.stdelete {
    background-image: url("../img/delete.png");
    cursor: pointer;
    display: none;
    float: right;
    font-weight: bold;
    height: 14px;
    margin-right: 5px;
    margin-top: 5px;
    width: 14px;
}

.icontext {
    font-weight: bold;
    height: 14px;
    margin-right: 20px;
    padding-left: 18px;
}

.loadplace {
    padding: 5px 0px 5px 0px;
}

/*------------------------------------popup user info------------------------------------*/

.popup {
    display: none;
    width: 300px;
}

.popup>img {
    float: left;
    margin-right: 20px;
}

.popup h2 {
    color: #E3E5DD;
    float: right;
    font-size: 14px;
    margin-right: 60px;
}

.popup h2 a {
    color: #E3E5DD!important;
}

/*------------------------------------user chat------------------------------------*/

#update .chatLeft {
    margin-bottom: 12px;
    font-size: 14px;
    position: relative;
    width: 85%;
}

#update .chatRight {
    margin-bottom: 12px;
    font-size: 14px;
}

.morebox {
    font-weight: bold;
    color: #333333;
    text-align: center;
    border: solid 1px #333333;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.morebox a {
    color: #333333;
    text-decoration: none;
}

.morebox a:hover {
    color: #333333;
    text-decoration: none;
}

.chatRight {
    clear: both;
    float: right;
    text-align: right;
}

.chatLeft {
    clear: both;
    float: left;
}

.chatLeft span {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#f2f2f2), to(#fff));
    background-image: -webkit-linear-gradient(bottom, #f2f2f2, #fff);
    position: absolute;
    padding: 3px;
}

.chatRight p {
    background-color: #dbedfe;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#c7defe), to(#e7f1fe));
    background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);
    padding: 3px;
}

#inline_content {
    background-color: #E8EAED!important;
}

#inline_content div {
    clear: both;
}

#content {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    width: 300px;
}
/*------------------------------------user first time------------------------------------*/

#post {
    padding: 4px;
    border: solid 1px #333;
    background-color: #133783;
    color: #fff;
    font-weight: bold;
}

.comment_ui {
    margin-bottom: 5px;
    padding: 6px 4px 3px 0px;
    width: 350px;
}

#searchbox {
    width: 250px;
    border: solid 1px #000;
    padding: 3px;
}

#display {
    width: 250px;
    display: none;
    float: right;
    margin-right: 30px;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    overflow: hidden;
}

.display_box {
    padding: 4px;
    border-top: solid 1px #dedede;
    font-size: 12px;
    height: 30px;
    position: relative;
}

.display_box:hover, {
    background: #3b5998;
    color: #FFF!important;
    text-decoration: none;
}

.display_box a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.display_box button {
    right: 10px;
    position: absolute;
}

#shade {
    background-color: #00CCFF;
}

#facebook {
    height: 60px;
    width: 250px;
    overflow: hidden;
    padding: 6px 10px 14px 10px;
    ;
}

#facebook li {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

#facebook li {
    height: 60px;
    padding: 5px;
    list-style: none;
}

#facebook a {
    color: #000000;
    text-decoration: none;
}

#facebook .user-title {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 11px;
    color: #36538D;
}

#facebook img {
    float: left;
    margin-right: 14px;
    padding: 4px;
}

#facebook .del {
    float: right;
    font-weight: bold;
    color: #666666;
}

#facebook .del a {
    color: #000000;
}

#facebook .del a:hover {
    background-color: #36538D;
    padding-left: 1px;
    padding-right: 1px;
    color: #ffffff;
}